*{
    margin: 0px;
}
body{
    font-family: Cormorant;
    src: url(../fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf)
}

.layout{
    display: grid;
    grid-template-columns: 13% 1fr;
    grid-template-rows: 80px auto 80px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
    background-image: url(../img/mclaren-765lt.webp);
    background-size: cover;
    backdrop-filter: blur(5px);
    background-attachment: fixed;
}
/*Login*/
#MenuLogin{
    display: flex;
    justify-content: space-between;
    padding: 10px; 
}
#MenuLogin img{
    height: 60px;
    width: 60px;
}
#MenuLogin div{
    display: flex;
}
#MenuLogin a{
    display: flex;
    text-decoration: none;
}
#MenuLogin h1{
    margin-left: 20px;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}
#MenuLogin h1:hover{
    color: #39304A;
    transition: all 0.2s;
}
#MenuLogin ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 60px;
    margin-top: 20px;
}


/*Inicio*/
#MenuPrincipal{
    display: flex;
    margin-right: 3%;
}
#MenuPrincipal img{
    margin-top: 2px;
}
#MenuPrincipal i{
    margin-right: 10px;
}
#MenuPrincipal a{
    text-decoration: none;
    color:#fff;
    font-size: 1.3rem;
    font-weight: 900;
}

#MenuPrincipal a:hover{
    color: #39304A;
    text-underline-offset: 5px;
    transition: all 0.2s;
}

#LogoIndex{
    height: 80px;
    width: 80px;
}

#FotoPerfil{
    height: 80px;
    width: 80px;
    margin-top: -5px;
    margin-left: 10px;
    border-radius: 40px;
}

.MenuIzquierda { 
    background-color: #202030;
    grid-area: 2 / 1 / 3 / 2;
    
}
.MenuIzquierda nav{
    padding-top: 40px;
}
.MenuIzquierda ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    font-size: 1.2rem;   
}
.MenuIzquierda p{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 900;
}

.MenuIzquierda a{
    text-decoration: none;
    color:#fff;
}
.MenuIzquierda a:hover{
    color: #39304A;
    transition: all 0.2s;
}

.MenuIzquierda i{
    margin-right: 5px;
}


/* Inicio Publicaciones*/
.Publicaciones{
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-bottom: 5%;
}
.Publicación{
    height: 700px;
    width: 75%;
    margin-top: 4%;
    background-color:#202030;
    border-radius: 20px;
    color: #fff;
}
#headerPubliInicio{
    height: 12.5%;
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 20px;
}

#headerPubliInicio img{
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

#headerPubliInicio a{
    text-decoration: none;
    color: #fff;
}
#headerPubliInicio div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#usuario a{
    font-size: 1.5rem;
    font-weight: 700;
}
#usuario p{
    font-size: 1rem;
    font-weight: 100;
}

#FotoPubli{
    height: 70%;
}
#FotoPubli img{
    width: 100%;
    height: 100%;
}
#FooterPubli{
    height: 17.5%;
}
#FooterPubli a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.BotonesPubli div{
    display: flex;
}
.BotonesPubli button{
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}
.BotonesPubli button:hover{
    color: #39304A;
    cursor: pointer;
    transition: all 0.2s;
}

.BotonesPubli i{
    font-size: 1.5rem;
}

#TxtPubli{
    display: flex;
    padding-left: 20px;
    padding-right: 15px;
    justify-content: space-between;
    padding-top: 15px;
}

#DescripPubli{
    display: flex;
    gap: 20px;
    width: 85%;
 
    font-size: 1.2rem;
}
#DescripPubli a{
    font-size: 1.2rem;
}
#DescripPubli p{
    width: 80%;
}
#DescripLikes{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.2rem;
}

/*footer*/

.footer { 
    grid-area: 3 / 1 / 4 / 3; 
    background-color: #202030;
}
#footerindex{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    margin-top: 9.7%;
}
#footerindex ul{
    list-style: none;
    display: flex;
    gap: 25px;
    margin-left: -40px;
}
#footerindex a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
#footerindex p{
    color: #fff;    
    font-size: 0.8rem;
    margin-top: 6.5%;
    justify-content: center;
}
#footerindex a:hover{
    color: #39304A;
    text-decoration: dotted underline;
    text-underline-offset: 5px;
}

/*Publicar*/
.SubirPubli{
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    gap: 10%;
    padding-top: 3.1%;
    padding-bottom: 0.6%;
    margin-left: 10%;
    height: 86%;
}
.publicar{
    display: flex;
    justify-content: space-around;
    width: 35%;
}
.publicar fieldset{
    width: 90%;
    background-color: #202030;
    color: #fff;
    border-radius: 20px;
    border-style: none;
}
.publicar h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 4%;
    margin-left: 3%;
    margin-top: 2%;
}
.publicar div{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2.5%;
}
#span{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 0%;
}

#texto {
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}
#spanTexto{
    margin-top: 125px;
    position: fixed;

}

#fotoPubli{
    background-color: transparent;
}
#spanFoto{
    position: fixed;
    margin-top: 65px;

}
#previsualizarButton{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;   
}
#previsualizarButton input{
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
}
#previsualizarButton input:hover{
    text-underline-offset: 5px;
    text-decoration: underline solid;
    cursor: pointer;
    font-weight: 700;
}
#submitPublicar{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 90%;
    align-items: center;
    border-color:transparent;
    border-radius: 20px;
    color: #39304A;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 35px;
}
#submitPublicar input:hover{
    color: #fff;
    background-color: #39304A;
    cursor: pointer;
    transition: all 0.2s;
}

/* publicar previsualizacion*/
#publicarPre{
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color: #202030;
    color: #fff;
    border-radius: 20px;
    border-style: none;
}

#headerPre{
    height: 12.5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
    
}
#headerPre a{
    text-decoration: none;
    color: #fff;
}
#headerPre img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
#headerPre div{
    display: flex;
    
}
#usuarioUbi{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2%;
}
#FotoPre{
    height: 70%;
}
#FotoPre img{
    width: 100%;
    height: 100%;
}
#FooterPre{
    padding-right: 5%;
    padding-left: 5%;
    margin-bottom: 1.6%;
    padding-top: 1%;
}
#BotonesPre{
    display: flex;
    align-items: center;
}
#BotonesPre button{
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}
#BotonesPre button:hover{
    color: #39304A;
    cursor: pointer;
    transition: all 0.2s;
}

#BotonesPre i{
    font-size: 1.3rem;
}
#BotonesPre div{
    display: flex;
    gap: 10px;
    align-items: center;
}
#TxtPre{
    display: flex;
    justify-content: space-between;
}
#TxtPre a{
    text-decoration: none;
    color:#fff;
}
#DescripPre{
    display: flex;
    gap: 10px;
   
}

#DescripLikesPre{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
}
#DescripLikesPre div{
    display: flex;
}
/*Login*/
.layoutLogin{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 80px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: url(../img/mclaren-765lt.webp); 
    background-size: cover; 
    backdrop-filter: blur(5px);
}
.headerLogin{
    background-color: #202030;
    grid-area: 1 / 1 / 2 / 3; 
}

#MenuLogin{
    display: flex;
    justify-content: space-between;
    padding: 10px; 
}
#MenuLogin img{
    height: 60px;
    width: 60px
}
#MenuLogin div{
    display: flex;
}
#MenuLogin a{
    display: flex;
    text-decoration: none;
}
#MenuLogin h1{
    margin-left: 20px;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}
#MenuLogin h1:hover{
    color: #39304A;
    transition: all 0.2s;
}
#MenuLogin ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 60px;
    margin-top: 20px;

}
#busqueda{
    padding-top: 5px;
}
#form_busqueda{
    width: 450px;
    margin-right: 10px;
}
#Buscar{
    font-weight: 700;
}
#Buscar:hover{
    color: #fff;
    background-color: #39304A;
}

#MenuPrincipal{
    display: flex;
    margin-right: 3%;
}
#MenuPrincipal img{
    margin-top: 2px;
}
#MenuPrincipal a{
    text-decoration: none;
    color:#fff;
    font-size: 1.3rem;
    font-weight: 900;
}
#MenuPrincipal a:hover{
    color: #39304A;
    text-underline-offset: 5px;
    transition: all 0.2s;
}

#FormLogin{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    height: 75%;
    
}
#FormLogin fieldset{
    background-color: #202030a0;
    border-radius: 20px;
    border-style: none;
    width: 30%;
}
#FormLogin p{
    font-size: 2rem;
    color: #fff;;
    display: flex;
    padding-top: 5%;
    padding-right: 100px;
    font-weight: 900;
}
#LetrasLogin{
    display: flex;
    justify-content: center;
}
#LetrasLogin a{
    margin-left: 80px;
    
}
#LetrasLogin img{
    height: 100px;
    width: 100px;
}

#DatosLogin div{
    display: flex;
    flex-direction: column;
    margin:20px;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 900;
    margin-left: 10%;
    margin-right: 10%;
}


.Obligatorio input:valid{
    border: 2px solid green;
}
.Obligatorio input:valid ::placeholder-shown{
    border: 2px solid green;
}

input{
    border-radius: 5px;
    border-style: none;
    margin-top: 10px;
    height: 30px;
    background-color: #fff;
    border-color: transparent;
    padding-left: 10px;
}

#recordarUsuario div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    margin-top: -5%;
    margin-left: 0%;
}
/* Ocultar el checkbox nativo */
input[type="checkbox"] {
    display: none;
}

/* Estilo del checkbox personalizado */
.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 4px;
}

/* Cambiar el color de fondo cuando el checkbox está seleccionado */
input[type="checkbox"]:checked + .custom-checkbox {
    background-color: #007bff;
}

.Entrar{
    display: flex;
    justify-content: center;
    margin-top: -7%;
    margin-bottom: -2%;
}
.Entrar button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: none;
    height: 32px;
    width: 80px;
    color:#202030;
    font-weight: bold;
}
.Entrar button:hover{
    background-color: #39304A;
    color:#fff;
    transition: all 0.2s;
}

#LinkRegistro p{
    font-size: 0.9rem;
    justify-content: center;
    display: flex;
    margin-bottom: 5%;
}
#LinkRegistro a{
    text-decoration: none;
    color: #B0A990;
    margin-left: 5px;
}
#LinkRegistro a:hover{
    text-decoration: underline solid;
    text-underline-offset: 3px;
}
.footerLogin{
    background-color: #202030;
    grid-area: 3 / 1 / 4 / 3; 
}

#footerindex{
    padding-top: 13px;
    padding-left: 13px;
    margin-top: 0px;
}
/*Registro*/
.layoutRegistro{
    background-image: url(../img/mclaren-765lt.webp); 
    background-size: cover; 
    backdrop-filter: blur(5px);
    background-attachment: fixed;
}
#FormRegistro{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff;
}

#FormRegistro fieldset{
    border-style: none;
    margin-bottom: 20px;
    background-color: #202030a0;
    border-radius: 20px;
    padding: 20px;
}
#FormRegistro div{
    margin-left: 15px;
    margin-right: 15px;
}
#FormRegistro h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 10px;
}
#FormRegistro h3{
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 20px;
}
#FormRegistro label{
    font-weight: 600;
    font-size: 1rem;
}


span{
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
}

#RegistroNombre{
    display: flex;
    border-style: none;
    justify-content: space-between;
    margin-top: 30px;
}
#RegistroNombre div{
    display: flex;
    flex-direction: column;
    width: 45%;
} 
#RegistroApellidos{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}
#RegistroApellidos div{
    display: flex;
    flex-direction: column;
    width: 45%;
}
#RegistroCorreo{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
} 
#RegistroCorreo div{
    display: flex;
    flex-direction: column;
    width: 45%;
}
#RegistroContra{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
#RegistroContra div{
    display: flex;
    flex-direction: column;
    width: 45%;
}
#AñadirFoto{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 15px;
}

#Boton{
    display: flex;
    justify-content: center;
    
}
#AñadirFoto input{
    color: #fff;
    background-color: transparent;
}
.submit{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 90%;
    align-items: center;
    border-color: transparent;
    border-radius: 20px;
    color: #39304A;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 30px;
}
#Registrarse input:hover{
    background-color: #39304A;
    color:#fff;
    transition: all 0.2s;
}
#aqui{
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
}
#Registrarse a{
    text-decoration: none;
    color: #B0A990;
    margin-left: 5px;
}
#Registrarse a:hover{
    text-decoration: underline solid;
    text-underline-offset: 3px;
    font-weight: bold;
    transition: all 0.2s;
}

.layoutPerfil{
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 80px auto 80px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
    background-image: url(../img/mclaren-765lt.webp);
    background-size: cover;
    backdrop-filter: blur(5px);
    background-attachment: fixed;

}
/*Perfil*/
.MenuPerfil { 
    grid-area: 2 / 1 / 3 / 2;
    
}

.MenuPerfil fieldset{
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    font-size: 1.2rem;   
    background-color: #202030a0;
    border-color: transparent;
    border-bottom-right-radius: 10px;
    width: 20%;
    
}

.MenuPerfil {
    text-decoration: none;
    color:#fff;
    display: flex;
    flex-direction: column;
}
.MenuPerfil img{
    border-radius: 150px;
    height: 100px;
    width: 100px;

}
.MenuPerfil button{
    background-color: transparent;
    border-color: transparent;
    color: #fff;
    font-size: 1.3rem;
}
.MenuPerfil button:hover{
    color: #39304A;
    cursor: pointer;
    transition: all 0.2s;
}
.MenuPerfil h2{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 2.5rem;
}
.MenuPerfil label{
    font-size: 1.3rem;
}
.MenuPerfil div{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}
.MenuPerfil img:hover{
    cursor: pointer;
    transition: all 0.2s;
}
.MenuPerfil label{
    justify-content: flex-start;
}
#NuevaFoto{
    background-color: transparent;
}

#Guardar{
    display: flex;
    justify-content: center;
}
#Guardar button {
    margin-bottom: 10%;
    background-color: #fff;
    color: #39304A;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 10px;
}
#Guardar button:hover{
    color: #fff;
    background-color: #39304A;
    transition: all 0.2s;
}
#PerfilBottom{
    padding-bottom: 30px;
}

/*Perfil publicaciones*/
.MisPublicaciones{
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.MiPublicación{
    height: 600px;
    width: 70%;
    height: 70%;
    margin-top: 2%;
    background-color:#202030;
    border-radius: 20px;
    color: #fff;
    margin-bottom: 2%;
}
#headerPubli{
    height: 12.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

#headerPubli a{
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

#headerPubli div{
    display: flex;
}

#headerPubli img{
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

#headerPubli button{
    background-color: transparent;
    border-color: transparent;
    color: #fff;
    font-size: 1.3rem;
}
#headerPubli button:hover{
    color: #39304A;
    cursor: pointer;
    transition: 0.2;
}
#headerPubli i{
    margin-left: 5px;
}

#fotoUsuario{
    gap: 10px;
}
#fotoUsuario div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
#fotoUsuario a{
    font-size: 1.3rem;
    font-weight: 700;
}
#fotoUsuario p{
    font-size: 1rem;
    font-weight: 100;
}

#DescripLikesPerfil{
    padding-right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}


/*Modificar Publicaciones */
#textoModificado{
    height: 100px;
}
#fotoModificada{
    background-color: transparent;
}
#modificar{
    padding-bottom: 1.4%;
}

